<header id="header">
  <div class="headerWrap clearfix">
    <a class="myFont title css2dcc4b9955748" href="{{ site.url }}">{{ site.title }}</a>

    <div class="search-tool" id="search">
      <input type="text" class="form-control search-content" id="search-content" placeholder="搜索你感兴趣的内容...." />
    </div>
    <nav id="Moblienav"> 
      <ul>
        <li><a href="{{ "/home" | prepend: site.url }}" class="myFont css2dcc4b9955748">主页</a></li>
      </ul>
    </nav>
<nav id="PCnav">
  <ul>
    <li><a href="{{ "/home" | prepend: site.url }}" class="myFont css2dcc4b9955748">主页</a></li>
    <li><a href="{{ "/index" | prepend: site.url }}" class="myFont css2dcc4b9955748">博客</a></li>
    <li><a href="{{ "/about" | prepend: site.url }}" class="myFont css2dcc4b9955748">关于</a></li>
  </ul>
</nav>
    <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.url }}">
    <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/search/js/cb-search.js" | prepend: site.url }}"></script>

    <a href="{{ site.resume }}" class="master">
    <div class="avatarWrap">
      <img src="{{ "/assets/image/avatar.jpg" | prepend: site.url }}" alt="{{ site.author }}" style="max-width: 27px;" />
    </div><span class="myFont css2dcc4b9955748">{{ site.author }}</span>
    </a>
  </div>
</header>

<main class="clearfix">
  <div class="content">
    <div class="content-inner">