---
layout: default
title: 文章分类
permalink: /pages/category.html
---
<script type="text/javascript">
$(document).ready(function(){
  $("span.site-tag").click(function(){
    var tag_id= $(this).attr("id");
    $("span.site-tag").each(function(){
        if ($(this).attr("id")!=tag_id)
        {
          $(this).removeClass("current");
        }
        else{
          $(this).addClass("current");
        }
    })
    $("ul.post-list").children("div").each(function(){
      if ($(this).attr("id")!=tag_id)
      {
        $(this).hide();
      }
      else{
        $(this).show();
      }
    })
    $('html, body').animate({scrollTop:0}, 'fast');
  });

  $("ul.post-list").children("div").each(function(){
    var tag_id= window.location.hash.substring(1);
    if (tag_id!="")
    {
      if ($(this).attr("id")!=tag_id)
      {
        $(this).hide();
      }
      else{
        $(this).show();
        $("span.site-tag").each(function(){
          if ($(this).attr("id")==tag_id)
          {
            $(this).addClass("current");
          }
        })
      }
    }
    else
    {
      $("span.site-tag").each(function(){
        if ($(this).attr("id")=="All")
        {
          $(this).addClass("current");
        }
      })
    }
  })
  $('html, body').animate({scrollTop:0}, 'fast');
});
</script>
<p class="content-inner-title myFont css2dcc4b9955748">分类列表</p>
<div class="site-tag-main">
  <span class="site-tag" id="All">
    <a href="/pages/category.html">All</a>
  </span>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
   <span class="site-tag" id={{ category[0] | replace:'-', ' ' }}>
      <a href="/pages/category.html#{{ category | first }}">
            {{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
      </a>
  </span>
  {% endfor %}
</div>

<div>
  <ul class="post-list">
	{% capture categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  
	{% assign category = categories | split:',' | sort %}
	{% for item in (0..site.categories.size) %}{% unless forloop.last %}
	{% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}
	<div id="{{ word }}" class="category-list">
		<h3 class="category" id="{{ word }}">{{ word | upcase }}</h3>
		<ul>
		{% for post in site.categories[word] %}{% if post.title != null %}
		<li><span>{{ post.date | date: "%b %d, %Y" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
		{% endif %}{% endfor %}
		</ul>
	</div>
	{% endunless %}{% endfor %}
  </ul>
</div>